@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  }

.dropzone {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    background-color: #F0F0F0;
    border-radius: 0.5em;
    border: 0.1em black solid;
    &:hover {
        cursor: pointer;
    }
}

.dropzoneV2 {
    font-family: 'poppins';
    font-size: '20px';
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 0.5em;
    color: #3DA1CC;
    background-color: #fff;
    border-radius: 5px;
    border: 2px #3DA1CC solid;
    
    &:hover {
        cursor: pointer;
    }

    &__text {
        font-weight: 100;
        font-size: 16px;
    }

    &__container {
        position: relative;
        width: fit-content;
        display: flex;
        flex-direction: row;
        border: 2px #3DA1CC dotted;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.5vw;
    }

    &__img {
        position: absolute;
        top: 5px;
        right: 5px;
        &:hover {
            cursor: pointer;
        }
    }
}