.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    
    &__text {
        display: flex;
        flex-direction: column;
        width: 10em;
        //height: inherit;
        //height: 100%;
        margin-top: 3em;
        gap: 1.5em;
        font-size: 1.6em;
        font-weight: bold;
    }
}