@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  }

.std-profile-content {
    padding: 1.8em 4em 1.8em 4em;
    background-color: white;
    font-family: 'Poppins';
    color: #4b4b4b;

    &__avatar {
        border: 0.1em solid #3da1cc;
        width: 15em !important;
        height: 15em !important;
    }

    &__stars-selected {
        color: yellow;
        margin-left: -0.7em;
    }

    &__stars {
        filter: grayscale(100%);
        margin-left: -0.7em;
    }

    &__circle {
        text-align: center;
        background-color: #4b4b4b;
        border: #4b4b4b solid 0.1em;
        border-radius: 100%;
        height: 0.4em;
        width: 0.4em;
    }

    &__edit {
        height: 2em !important;
        width: 100% !important;
        cursor: pointer;
    }

    &__container {
        display: flex;
        flex-direction: row;
    }

    &__row {
        display: grid;
        position: relative;
    }

    &__text {
        position: absolute;
        font-size: 0.6em;
        right: 0;
        top: 10px;
    }

    &__content {
        margin-left: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        font-size: 1.2em;
        flex: 1;
    }

    &__mark {
        margin-left: 0.7em;
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
    }

    &__section {
        display: flex;
        flex-direction: row;
        gap: .6em;
    }

    &__site {
        color: #3da1cc;
    }

    &__title {
        margin-bottom: -0.5em;
        display: flex;
        align-items: center;
        font-family: 'Poppins';
        text-transform: uppercase;
    }
}